.logo{
    width: 500px;
    height: 500px;
    background-color:   yellow;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.logo::before, .logo::after{
    top: 50%;
    width: 50%;
    height: 50%;
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
}
.logo::before{
    right: 0;
    content: "";
    background-color: black;
}
.logo::after{
    left: 0;
    background-color: white;
}
